* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* body */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #0c1821;
}
/* Navbar*/

nav {
  width: 100%;
  height: auto;
  font-family: 'Alkatra', cursive;
  background-color: #000000;
  color: #fff;
  padding-top: 0.5rem;
  position: absolute;
}

.navigator-bar {
  width: auto;
  margin-left: 5rem;
  margin-right: 7rem;
}

#logo-box .logo {
  color: #2ba84a;
  font-weight: bold;
  font-size: 4rem;
}

.text-uppercase {
  text-transform: uppercase;
}

/* to remove the line under the links */
a {
  text-decoration: none;
}

#nav-links {
  float: right;
}

#logo-box {
  float: left;
  margin-bottom: -0.8rem;
}

/* for the compatibility of the link and logo parts with each other */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#link-box .nav-item {
  float: left; 
  margin-left: 10rem;
}

#link-box .nav-link {
  color: #ccc9dc;
  font-size: 2rem;
  font-weight: 40rem;
  display: block;
  padding-top: 1.5rem;
  letter-spacing: 0.1rem;
  transition: color 0.4s;
}

ul {
  list-style-type: none;
}

#link-box .nav-link:hover {
  color: #2ba84a;
}

/* The switch - the box around the slider */
.switch {
  margin-top: 1rem;
  font-size: 16px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #0C1821;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #2ba84a;
  background: var(--background);
  transition: .5s;
}

input:checked + .slider {
  background-color: #324A5F;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #2ba84a;
}